services:
  - type: web
    name: apartment-backend
    runtime: python
    plan: free
    rootDir: backend
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: "3.11.9"
      - key: DATABASE_URL
        value: postgresql://postgres:pQFDoHLfzgnheGsk@db.ftroakglntgkyyaunuln.supabase.co:6543/postgres
      - key: SECRET_KEY
        value: Z6hrphTsxZDc5xlY70bRGiIcN4xjdJHLnGNXqNhLfhQ
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "30"
      - key: EMAIL_HOST
        value: smtp.gmail.com
      - key: EMAIL_PORT
        value: "587"
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
