services:
  - type: web
    name: apartment-backend
    runtime: python
    plan: free
    region: singapore
    rootDir: backend
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
      - key: DATABASE_URL
        value: postgresql://postgres:pQFDoHLfzgnheGsk@db.ftroakglntgkyyaunuln.supabase.com:6543/postgres
      - key: SECRET_KEY
        value: Z6hrphTsxZDc5xlY70bRGiIcN4xjdJHLnGNXqNhLfhQ
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "30"
      - key: SMTP_HOST
        value: smtp.gmail.com
      - key: SMTP_PORT
        value: "587"
      - key: SMTP_USERNAME
        sync: false
      - key: SMTP_PASSWORD
        sync: false
      - key: SMTP_FROM_EMAIL
        sync: false
      - key: SMTP_FROM_NAME
        value: Apartment Management System
